@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
	font-family: 'Ubuntu', monospace;
	width: 100%;
	height: 100%;
}

.config-item {
	background: #fff;
}

.button {
	font-family: 'Ubuntu', monospace;
}

.button.is-dark.is-active {
    border-color: #48c78e;
}

#erg-logo {
	width: 52px;
	height: 52px;
}

#main-area {
	max-width: none!important;
    padding-left: 16px;
    padding-right: 16px;
	margin-left: 0;
	margin-bottom: 0;
    width: 100%;
}

/*.column {
	connect file-tree and editor
	padding-left: 0;
	padding-right: 0;
}*/

#file-tree {
	border-radius: 0;
}

.panel-block {
	font-family: 'Ubuntu', monospace;
	font-size: 1.7vh;
}

.panel-block:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#editor {
	height: 55vh;
	/* border: 1.5px solid #ccc; */
	margin-bottom: 0;
}

#py-code-editor {
	height: 55vh;
	/* border: 1.5px solid #ccc; */
	resize: vertical;
    overflow: auto;
	/* resize: both; */
}

#run-button {
	margin-left: 1rem;
}

#result {
	border-radius: 2px;
	height: 15vh;
	resize: both;
    overflow: auto;
	font-family: monospace;
	/* border: 1px solid #ccc; */
}

#config-modal-content {
	overflow: visible;
}

#foot {
	margin-bottom: 0;
}
